<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Kalam" rel="stylesheet">
<link href="<%= static_path(@conn, "/css/editor.css") %>" rel="stylesheet">

<script src="/js/editor.js"></script>
<div ng-app='editorApp'>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="/js/todo.js"></script>

