<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Kalam" rel="stylesheet">
<link href="<%= static_path(@conn, "/css/editor.css") %>" rel="stylesheet">

<div ng-app='editorApp'>
</div>

<script src="<%= static_path(@conn, "/js/angular.js") %>"></script>
<script src="<%= static_path(@conn, "/js/editor.js") %>"></script>

